<header>
<h6>index_user</h6>

<img src="images/THEH0349.jpg" class="img-responsive main-image">
</header>





<h2>ALL USERS</h2>

<%@users.each do |user|%>
  <h3><a href="/users/<%=user.id%>"><%=user.username%></a></h3>
<%end%>


   
  