<header>
<img src="images/THEH0349.jpg" class="img-responsive main-image">
</header>

<h2>ALL USERS</h2>

<%@users.each do |user|%>
  <div class = "items_users"> 
  <h4><a href="/users/<%=user.id%>"><%=user.username%></a></h4>
  </div>
<%end%>

<h5><a href = "/users/<%=current_user.id%>">your profile page</h5>
   
  