<h1>NEW</h1>
<h1>Here you gonna see a NEW user</h1>

<form method="POST"  atribute='/users'>
   <h3>Name:<input type="text" name = "name"></h3>

   <h3>Email:<input type="email" name = "email"></h3>
   <input type="submit">
  
</form>