<h6>SHOW</h6>


<%if logged_in?%>
  <h2>Signed in as: <%=current_user.username %> </h2>
  <h5><a href = "/logout"><b>Logout</b></a></h5>
  <%else%>
  <h5><a href="/login">Login</a></h5>
<%end%>

<h4><a href= "/users/<%=@user.id%>/edit">Edit profile</a></h4>

<form action="/users/<%=@user.id%>" method="POST" >
   <input type="hidden" value="DELETE"  name="_method">
   <input type="submit" value="delete">
</form>



<h1>Here you're going to see all your items.</h1>
<%@user.items.each do |user_item|%>
    <%=user_item.name%>
<%end%>



<h4><a href="/items/new">add an item</a><h4>
<br>
<h4><a href="/users">see all users</a></h4>
<h4><a href="/items">see all items</a></h4>






