<div class="container">
  <header><img src="images/THEH0261.jpg" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>GAREAGE SALE</h2>

    <div class="content">
      <p>Welcome to GARAGE SALE! </p>
    </div>

    <div class="sidebar">
      <h3>If you want to buy or sale you need to :</h3>
      <ul>
        <li> <a href = "/signup"><b>Sign up</b></a></li>
        <h3>or</h3>
        <li> <a href = "/login"><b>Login</b></a></li>
       
       
      </ul>
    </div>
  
  </div>
</div>

<h2><a href = "/items">here's what's HOT</a></h2>
