<h1>ALL ITEMS FOR SELL</h1>
<br>

<%@items.each do |item|%>
  <h3><%=item.id%>.<%=item.name%>  </h3>
  
  <h3>brand:<%=item.brand%></h3>
  
  <h3><a href="/items/<%=item.id%>">see this item</a>
<%end%>
<h4><a href="/login">Login</h4>
<h4><a href="/signup">Sign up</h4>