<%if logged_in?%>
  <h5><a href = "/logout"><b>Logout</b></a></h5>
<%else%>
  <h5><a href="/login">Login</a></h5>
<%end %>


<h1>ALL ITEMS FOR SALE</h1>
<br>

<%@items.each do |item|%>
  <div class = "items_users">
  <h4><a href= "/items/<%=item.id%>"><%=item.name%></a></h4>
  </div>
  
<%end%>
<br>
<br>
<h5><a href = "/users/<%=current_user.id%>">back to your profile page</a></h5>



