<h6>index_view</h6>



<h2>ALL ITEMS FOR SALE</h2>
<br>

<%@items.each do |item|%>
  <h3><%=item.name%></h3>
  <h3><a href="/items/<%=item.id%>">see this item</a>
<%end%>
<br>
<br>

<h4><a href = "/users/<%=current_user.id%>">your profile page</h4>

