
<h2>ALL ITEMS FOR SALE</h2>
<br>

<%@items.each do |item|%>
  <h3><a href= "/items/<%=item.id%>"><%=item.name%></a></h3>
  
<%end%>
<br>
<br>

<h4><a href = "/users/<%=current_user.id%>">your profile page</h4>

