
<h2>ADD A NEW item</h2>

<h3><%=@errors%></h3>

<form action="/items" method="POST" >
   
   <h3>Item name:<input type="text" name = "item[name]" required></h3>
   <h3>Item size:<input type="number" name = "item[size]"></h3>
   <h3>Item brand: <input type="text" name = "item[brand]"></h3>
   <h3>Item color: <input type="text" name = "item[color]"></h3>
   <h3>Item condition: <input type="text" name = "item[condition]"></h3>
   <h3>Item description: <input type="text" name = "item[description]"></h3>
   <h3>Item price: <input type="float" name = "item[price]"></h3>
  
   <input type="submit">
   
</form>